{% extends "base.html" %}

{% block title %}Список опросов{% endblock %}

{% block content %}
    <h1>Список опросов</h1>
    <p><a href="{% url "create_poll" %}">Новый опрос</a></p>
    {% for poll in polls %}
        <p>
            {{ poll.question }}
            <a href="{% url "answer" poll.pk %}">Пройти опрос</a>
            <a href="{% url "poll" poll.pk %}">Просмотр опроса</a>
        </p>
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}