{% extends "base.html" %}

{% block title %}Опрос {{ poll.pk }}{% endblock %}

{% block content %}
    <h3>{{ poll.question }}</h3>
    {% for choice in choises %}
        <p>
            {{ choice.text }}
            <a href="{% url "edit_choice" choice.pk %}">Изменить</a>
            <a href="{% url "delete_choice" choice.pk %}">Удалить</a>
        </p>
    {% empty %}
        <p>Вариантов ответов нет</p>
    {% endfor %}
    <p>
        <a href="{% url "create_choice" poll.pk %}">Добавить вариант ответа</a>
    </p>
    <p>
        <a href="{% url "edit_poll" poll.pk %}">Редактировать опрос</a>
    </p>
    <p>
        <a href="{% url "delete_poll" poll.pk %}">Удалить опрос</a>
    </p>
    <p>
        <a style="color: red;" href="{% url "index" %}"><b>На главную</b></a>
    </p>
{% endblock %}